///*header开始*/
.header{
  width: 100%;
  height: 80px;
  padding:0 20px;
  min-width: 1366px;
}
.bg_header{
  width: 100%;
  height: 80px;
  background: url(../img/title.png) no-repeat;
  background-size: 100% 100%;
}
.header>.header_logo{
  padding:18px 10px 10px 0px;
}
.header>.header_logo>a{
  display: block;
}
.header>.header_logo>a>img{
  width:260px;
}

.header>.header_nav{
  margin-left: 20px;
}
.header>.header_nav>ul>li{
  float: left;
  margin-right: 6px;
  position: relative;
}
.header>.header_nav>ul>li>a{
  display: block;
  height: 80px;
  padding:0 10px 0 30px;
  line-height: 80px;
  color:#fff;
}
.header>.header_nav>ul>li>a:hover{
  border-bottom: 4px solid #4b8df8;
}
.header>.header_nav>ul>li>img{
  float: left;
  position: absolute;
  top: 33px;
  left:10px;
}
.header>.header_nav>ul>li>a.nav_current{
  border-bottom: 4px solid #4b8df8;
}

.header>.header_myself{
  width: 90px;
  text-align: center;
}
.header>.header_myself>p{
  color:#fff;
  font-size: 13px;
  margin-top: 15px;
}
.header>.header_myself>a{
  color:#fff;
  font-size: 13px;
}
